<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="Knitkit - Compass AE Open source content management platform" />
    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="&copy;" />
    <meta name="robots" content="ALL" />
    <meta name="language" content="English" />
    
    <title><%= @website.title %></title>
    <%= javascript_include_tag :application %>
    <%= include_extjs :theme => false%>
    <%= static_javascript_include_tag('erp_app/utility.js') %>
    <%= add_authenticity_token_to_extjs %>
    <%= static_javascript_include_tag('erp_app/jquery_support.js') %>
    
    <%= theme_stylesheet_link_tag('communication','reset.css') %>
    <%= theme_stylesheet_link_tag('communication','style.css') %>
    <%= theme_stylesheet_link_tag('communication','grid.css') %>

    <%= theme_javascript_include_tag('communication', 'cufon-yui.js') %>
    <%= theme_javascript_include_tag('communication', 'cufon-replace.js') %>
    <%= theme_javascript_include_tag('communication', 'Vegur_500.font.js') %>
    <%= theme_javascript_include_tag('communication', 'Ropa_Sans_400.font.js') %>
    <%= theme_javascript_include_tag('communication', 'FF-cash.js') %>
    <%= theme_javascript_include_tag('communication', 'tms-0.3.js') %>
    <%= theme_javascript_include_tag('communication', 'tms_presets.js') %>
    <%= theme_javascript_include_tag('communication', 'jquery.easing.1.3.js') %>
    <%= theme_javascript_include_tag('communication', 'script.js') %>

    <%= static_javascript_include_tag('erp_app/widgets.js') %>
    <%= static_javascript_include_tag('ajax_pagination.js') %>
    <%= static_javascript_include_tag('erp_app/shared/dynamic_forms/dynamic_forms_validation.js') %>
    <%= static_javascript_include_tag('knitkit/helpers.js') %>
    <%= yield :head %>
  </head>
  <body id="page1">
      <!--==============================header=================================-->
	<header>
		<div class="border-bot">
			<div class="main">
				<h1><a href="/home"><%= @website.title %></a></h1>
				<%= content_for?(:menu) ? yield(:menu) : render_menu(@contents) %>
			</div>
		</div>
		<div class="row-bot">
			<div class="slider-wrapper">
				<div class="slider">
					<ul class="items">
						<li>
							<img src="<%= theme_image_path('communication','slider-img1.jpg')%>" alt="" />
						</li>
						<li>
							<img src="<%= theme_image_path('communication','slider-img2.jpg')%>" alt="" />
						</li>
						<li>
							<img src="<%= theme_image_path('communication','slider-img3.jpg')%>" alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
    <!--==============================content================================-->
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - Mrach 03, 2012!</div>
	  <div class="main">
	    <div class="container_12">
		  <div class="wrapper">
			<article class="grid_8">
			  <%= yield(:right_column) %>
			</article>
			<article class="grid_4">
			  <%= yield(:left_column) %>
			</article>
		  </div>
		</div>
	  </div>
	</section>
    <!--==============================footer=================================-->
	<footer>
		<%= content_for?(:footer) ? yield(:footer) : (render :partial => 'shared/knitkit/footer') %>
	</footer>
	<script type="text/javascript"> Cufon.now(); </script>
	<script type="text/javascript">
		$(window).load(function() {
			$('.slider')._TMS({
				duration:1000,
				easing:'easeOutQuint',
				preset:'diagonalFade',
				slideshow:7000,
				banners:false,
				pauseOnHover:true,
				pagination:true,
				pagNums:false
			});
		});
	</script>
                      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30692333-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
