<div id="<%=widget_result_id %>"></div>
    <%= form_remote_tag build_widget_url(:new), :id => 'contact-form' do %>
      <fieldset>
        <label><span class="text-form">First Name</span><%= text_field_tag :first_name %></label>
        <label><span class="text-form">Last Name</span><%= text_field_tag :last_name %></label>
        <label><span class="text-form">Email</span><%= text_field_tag :email %>
        </label>
        <div class="wrapper">
          <div class="text-form">Message:</div>
          <div class="extra-wrap">
            <%= text_area_tag :message, nil, :class => 'contact textarea', :rows => 8, :cols => 50 %>
            <div class="clear"></div>
            <div class="buttons">
            <%=  submit_tag "Submit", :disable_with => "Please wait...", :class => "submit", 
              :style => 'color:#CCC;font-weight:bold;cursor:pointer;float:none;width:100px;background:#666;border:solid 1px #CCC;' %>
            </div>
          </div>
        </div>         
        <input type="hidden" name="is_html_form" value="<%=!@use_dynamic_form%>"/>
      </fieldset>
    <% end %>
